<html>
    <head>
        <title>Cepheus Light Character Generator</title>
    </head>
    <body>
    <h2>Cepheus Light Character Generator</h2>
    <hr>
    {{title}} {{name}} {{surname}}&emsp;&emsp;{{upp_string}}&emsp;&emsp;Age {{age}}&emsp;&emsp;{{status}}<br>
    {{career}} {{rank_name}}&emsp;&emsp;&emsp;{{terms}} Terms&emsp;&emsp;&emsp;Cr{{credits}}<br><br>
    {{possessions}}<br><br>
    {{skills}}<br><br>
    <form action="">
        <input type="radio" name="Death" value="Death"><span>Death enabled</span><br/>
        <input type="radio" name="Death" value="Life" checked="checked"><span>Death disabled</span><br><br>
        <input type="submit" name="generate" value="Generate">
    </form><br>
</form> </body>
</html>